@import '../../../global';

#sidebar {
  justify-self: flex-end;

  display: flex;
  flex-direction: column;

  padding: $spacing-M;

  h3 {
    font-size: $font-XS;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 7px;
  }
  ul {
    padding-top: $spacing-S;
    display: flex;
    flex-direction: column;
    gap: $spacing-SM;
    a {
      color: $theme-color-4;
      font-size: $font-XS;
      text-transform: uppercase;

      padding: $spacing-XXS;
      background-color: $theme-color-3;
      border-radius: 1px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
