// * VARIABLES

// FONTS
$main-font: Manrope, Arial, Helvetica, sans-serif;

// COLORS
$theme-color-1: #ffffff;
$theme-color-2: #000000;
$theme-color-3: #222222;
$theme-color-4: #b700ff;
$theme-color-5: #00ecff;

$menu-color: #db82ff39;

// FONT SIZES
$font-XXS: 10px;
$font-XS: 15px;
$font-S: 20px;
$font-SM: 25px;
$font-M: 30px;
$font-ML: 35px;
$font-L: 40px;
$font-XL: 45px;
$font-XXL: 50px;

// SPACINGS
$spacing-XXS: 5px;
$spacing-XS: 10px;
$spacing-S: 15px;
$spacing-SM: 20px;
$spacing-M: 25px;
$spacing-ML: 30px;
$spacing-L: 35px;
$spacing-XL: 40px;
$spacing-XXL: 45px;
